input[type="radio"] {
    accent-color: #53ff1a;
    border-width: 10px;
    border-color: #ffffff;
    width: 16px;
    height: 16px;
}

/* Style the radio input when it is checked (selected) */
input[type="radio"]:checked {
    background-color: #53ff1a;
    border-color: #53ff1a;
    box-shadow: 0 0 0 2px #53ff1a inset;
}