/* || Input number styles */

.number-input {
    width: 160px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
    padding-left: 18px;
    background: #F2F2F2;
}

input[type="number"] {
    width: 55px;
    height: 45px;
    font-size: 1.4rem;
    font-weight: 500;
    border: 1.5px solid #E2E2E2;
    border-radius: 10px;
    outline: none;
    text-align: center;
    letter-spacing: -1px;
    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Chrome, Safari, Edge, Opera */
    appearance: textfield;
}

input::selection {
    background-color: #E2E2E2;
    color: #000;
}

input:focus {
    border-color: #5EE85B;
}

/* webkit-based browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Button styles */
.number-input button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-input button :hover {
    opacity: 0.7;
}