@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PingFang';
    src: url('./assets/PingFang Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang';
    src: url('./assets/PingFang Medium.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}